:root {
  --theme-bg-color: #4B4B4B;
}

.App {
  text-align: center;
}

.width-35 {
  width: 35% !important;
}
.width-60{
  width: 60% !important;
}

.placeholderColor::placeholder {
  color: white;
}

.menuSection {
  background-color: #616161;
}

.contentSection {
  background-color: #4B4B4B;
}

.theme-card {
  background-color: #616161;
}

.theme-card-dark {
  background-color: #4B4B4B;
}

.bgWellnessCardImg {
  transform: scale(1);
  transition: .4s ease-in-out;
}

.bgWellnessCard:hover .bgWellnessCardImg {
  /* background-image: url("./images/bgWellnessCard.png");
  background-repeat: no-repeat;
  background-size: cover; */
  transform: scale(1.3);
  transition: .4s ease-in-out;
}

.cursorPointer {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none;
  outline-color: #4B4B4B;
}

.input-group-text {
  background-color: #4B4B4B;
  border-color: #cecece;
  color: white;
}

.cardThemeActive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 40%;
  padding: 50px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textDecoration a {
  text-decoration: none;
}

.dropDown {
  position: relative;
  display: none;
}

.dropedDown {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 0 0 6px 6px;
}

ul li {
  list-style: none;
  transition: ease-in-out .4s;
}

ul li:hover {
  list-style: none;
  background-color: #616161;
}

ul li a {
  text-decoration: none;
  color: white;
}

.customInput {
  background: transparent;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  border-color: #4B4B4B;
  outline: none;
  transition: ease-in-out .4s;
}

.customInput:focus {
  background: transparent;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  border-color: #9d9d9d;
  outline: none;
}

.passwordIcon {
  position: absolute;
  top: 56%;
  right: 14px;
  color: #616161;
}

.dropDownBorder {
  border-radius: 6px 0 0 6px !important;
}

.outlineAndBorder {
  outline: none;
  border: none;
}

.globalTrasition {
  transition: 1s ease-in-out;
}

/* .resentActivity{
  overflow-y: scroll;
  scroll-behavior: smooth;
} */
.mobileScreen {
  background-color: var(--theme-bg-color);
  height: 100dvh;
}

nav span {
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 1rem;
  margin: 2px 0;
}

/* nav span:nth-child(0){
  height: 5px;
  width: 40px;
  background-color: black;
  border-radius: 1rem;
 } */

.navBar {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.menuModal{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff4d;
}
.mobileScreen-graph {
  width: 50% !important;
  height: 100% !important;
}

@media only screen and (max-width: 600px) {
  .mobileScreen-graph {
    width: 100% !important;
  }
  .width-35{
    width: 80% !important;
  }
  .width-60{
    width: 80% !important;
  }
}